.showcase-caption
{
  transform: scale(1.1);
}

#showcase .showcase figure .showcase-caption {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  background: rgba(173, 79, 24, 0.8);
  color: white;
  opacity: 0;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  transition: all 0.7s ease-in-out;
  transform-origin: bottom;
  z-index: 9999;
}

#showcase .showcase figure:hover .showcase-caption
{
  opacity: 0.8;
  transform: rotateX(0deg);
}

a img
 {
  color: #AD4F18;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
   transition: 0.4s all ease;
}

a img:hover
{
  transform: scale(1.1);
}

#showcase .showcase figure .showcase-caption .showcase-caption-title {
  font-family: 'Michroma', Arial, sans-serif;
  font-size: 17px;
}

#showcase .showcase figure .showcase-caption .showcase-caption-desc {
  font-size: 15px;
  font-weight: lighter;
}

#showcase .showcase figure {
  position: relative;
  transform:perspective(300px);
  -webkit-transform:perspective(1000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  //overflow: hidden;
}

#showcase .showcase figure>div {
  overflow: hidden;
}


