<div id="content" class="site-content container">
  <div id="primary-mono" class="content-area col-md-8 page">
    <main id="main" class="site-main" role="main">



      <article id="post-18" class="page post-18 type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title"><span>O nas</span></h1>
        </header><!-- .entry-header -->

        <div class="entry-content">
          <h3 id="h3-1" title="h3-1">Skład zarządu</h3>
          <ul id="ul-1" title="ul-1">
            <li><strong>Koman&shy;dor</strong>&thinsp;–&thinsp;Bogusław Bularz</li>
            <li><strong>Vice Koman&shy;dor</strong>&thinsp;–&thinsp;Jarosław Urbanik</li>
            <li><strong>Bosman</strong>&thinsp;–&thinsp;Tadeusz Przy&shy;była</li>
            <li><strong>Sekre&shy;tarz</strong>&thinsp;– Ireneusz Gruszka</li>
            <li><strong>Skarb&shy;nik</strong>&thinsp;–&thinsp;Arka&shy;diusz Wiśniowski</li>
          </ul>
          <hr>
          <h3>His&shy;to&shy;ria Jachtk&shy;lubu <span class="caps">PTTK</span> Pszczyna</h3>
          <p>Jachtk&shy;lub <span class="caps">PTTK</span> Pszczyna powołano do życia w&nbsp;dniu <span
              class="numbers">5</span>&nbsp;lutego <span class="numbers">1960</span> r. Pier&shy;wszym preze&shy;sem
            Klubu został wybrany Władysław Kluss, sekre&shy;tarzem Jan Święch, skarb&shy;nikiem Wiesław Kasiński,
            następ&shy;nie <span class="caps">KW</span>Ż- &#8203;em Jan Bil&shy;iński, a&nbsp;bosmanem Zyg&shy;munt
            Nowak. Od samego początku w&nbsp;klu&shy;bie dzi&shy;ałali także: Tadeusz Tom&shy;czykiewcz, Czesław
            Wol&shy;ski, Jerzy Święch, Maksy&shy;mil&shy;ian Goszyc, a&nbsp;później dołączyli Józef Hel&shy;wig (Otto),
            Mar&shy;ian Piksa, Zenon i&nbsp;Alek&shy;sander Kokot, Ryszard Wisz, Adam Plewniok, Marek Meszyński, ks.
            Józef Duda, Edward Ziętek oraz Maciej Klus.</p>
          <p>Pier&shy;wszy kurs żeglarski zor&shy;ga&shy;ni&shy;zowano już w&nbsp;<span class="numbers">1960</span>
            roku, jed&shy;nak ze względu na brak sprzętu pły&shy;wa&shy;jącego został on dokońc&shy;zony w&nbsp;roku
            <span class="numbers">1961</span>.&nbsp;W&nbsp;tym też <span class="numbers">1961</span> roku
            wydzierżaw&shy;iono dzi&shy;ałkę w&nbsp;Wiśle Wielkiej nad Jeziorem Gocza&shy;łkow&shy;ickim, która dzięki
            staran&shy;iom Koman&shy;dora Hen&shy;ryka Motyki oraz Prezesa Odd&shy;zi&shy;ału <span
              class="caps">PTTK</span> Pszczyna Jana Lorenca została przekazana Pszczyńskiemu Odd&shy;zi&shy;ałowi <span
              class="caps">PTTK</span> w&nbsp;wieczyste użytkowanie w&nbsp;roku <span class="numbers">1999</span>.</p>
          <p>Na dzi&shy;ałce tej w&nbsp;roku <span class="numbers">1964</span> postaw&shy;iono tym&shy;cza&shy;sowo
            barakowóz. Spotka&shy;nia klubow&shy;iczów w&nbsp;tym okre&shy;sie odby&shy;wały się w świetl&shy;icy Bramy
            Wybrańców w&nbsp;Pszczynie. Na dzi&shy;ałce w&nbsp;Wiśle Wielkiej w&nbsp;lat&shy;ach <span
              class="numbers">1965</span>&thinsp;–&thinsp;<span class="numbers">1967</span> wybu&shy;dowano murowany
            budynek żeglarski i&nbsp;pow&shy;stał Ośrodek Szkole&shy;niowy Jachtk&shy;lubu <span
              class="caps">PTTK</span> Pszczyna. Budynek pow&shy;stał wg pro&shy;jektu Pana Maksy&shy;mil&shy;iana
            Goszyca, a&nbsp;budowę od samego początku nad&shy;zorował Pan Tadeusz Tomczykiewicz.</p>
          <p>W tym okre&shy;sie klub orga&shy;ni&shy;zował na Jeziorze Gocza&shy;łkow&shy;ickim regaty okrę&shy;gowe,
            roz&shy;gry&shy;wały się tutaj również regaty o „Błęk&shy;itną Wstęgę, (Puchar Jeziora) oraz regaty
            Okrę&shy;gowej Komisji Turystyki Żeglarskiej. Klub uczest&shy;niczył również w&nbsp;regat&shy;ach na innych
            akwe&shy;nach jak: Dzierżono, Otmuchów, Pogo&shy;ria. W&nbsp;drugiej połowie lat <span
              class="numbers">60</span>– &#8203;tych częste i&nbsp;znaczące wygrane w&nbsp;regat&shy;ach odnosiła tzw
            Eskadra Cadet, tj. kilku&shy;nas&shy;toosobowa grupa młodzieży do lat czternastu.</p>
          <p>Jachtk&shy;lub dzi&shy;ałał prężnie do lat <span class="numbers">80</span>-&#8203; tych,
            orga&shy;ni&shy;zował imprezy żeglarskie na poziomie lokalnym, wojew&shy;ódzkim czy nawet
            między&shy;wo&shy;jew&shy;ódzkim. Prowadził dzi&shy;ałal&shy;ność na Jeziorze Gocza&shy;łkow&shy;ickim,
            akwe&shy;nach śląs&shy;kich oraz morskich.</p>
          <p>Po wprowadze&shy;niu w&nbsp;<span class="numbers">1983</span> roku zakazu żeglowa&shy;nia na Jeziorze
            Gocza&shy;łkow&shy;ickim Ośrodek Szkole&shy;niowy w&nbsp;Wiśle Wielkiej jak i&nbsp;sam Klub stracił na
            znacze&shy;niu, niem&shy;niej po lat&shy;ach wznowił swoją dzi&shy;ałal&shy;ność. Został on
            reak&shy;ty&shy;wowany w&nbsp;<span class="numbers">1995</span> roku przez grupę żeglarzy na czele
            z&nbsp;Hen&shy;rykiem Motyką, który do listopada <span class="numbers">2011</span> pełnił funkcję
            Koman&shy;dora Klubu. W&nbsp;skład pier&shy;wszego Zarządu Klubu wybranego po reak&shy;tywacji na
            Wal&shy;nym Zebra&shy;niu Członków w&nbsp;dniu <span class="numbers">18</span>&thinsp;–&thinsp;<span
              class="numbers">01</span>-&#8203;<span class="numbers">1996</span>r oprócz koman&shy;dora, wes&shy;zli
            także: wiceko&shy;man&shy;dor Janusz Gnyp, sekre&shy;tarz Ryszard Wisz, skarb&shy;nik Jerzy Poloczek, <span
              class="caps">KW</span>Ż Woj&shy;ciech Kacz&shy;mar&shy;czyk, bosman Tadeusz Przy&shy;była, członek zarządu
            Adam Plewniok.</p>
          <p>Klub liczy obec&shy;nie ok. <span class="numbers">40</span> członków ze zmieni&shy;a&shy;ją&shy;cym się, co
            pewien czas skła&shy;dem osobowym. Każdego roku orga&shy;ni&shy;zowane są kursy i&nbsp;szkole&shy;nia na
            patent żeglarza i&nbsp;stern&shy;ika jach&shy;towego, w&nbsp;których bierze corocznie udział ok. <span
              class="numbers">20</span> osób w&nbsp;tym liczna grupa młodzieży w&nbsp;wieku <span
              class="numbers">14</span>&thinsp;–&thinsp;<span class="numbers">18</span> lat. Aktu&shy;al&shy;nie klub
            posi&shy;ada: dwóch kap&shy;i&shy;tanów jach&shy;towych, dwóch jach&shy;towych stern&shy;ików mors&shy;kich
            oraz kilkudziesię&shy;cioosobową grupę stern&shy;ików i żeglarzy jachtowych.</p>
          <p>Od wielu lat szkole&shy;nia żeglarskie orga&shy;ni&shy;zowane w&nbsp;klu&shy;bie prowadzi własna kadra
            instruk&shy;torska, która liczy obec&shy;nie <span class="numbers">6</span>&nbsp;osób.</p>
          <p>Członkowie Klubu za swoją dłu&shy;go&shy;let&shy;nią dzi&shy;ałal&shy;ność na rzecz środowiska żeglarskiego
            zostali uhonorowani wieloma odz&shy;naczeni&shy;ami zarówno <span class="caps">PTTK</span>, <span
              class="caps">PZ</span>Ż, samorzą&shy;dowymi jak i&nbsp;państwowymi.</p>
          <p>W <span class="numbers">2010</span> roku Klub został odz&shy;nac&shy;zony Złotą Hon&shy;orową Odz&shy;naką
            <span class="caps">PTTK</span> nr <span class="numbers">16658</span>, Hon&shy;orową Odz&shy;naką Zasłużony
            Klub dla Żeglarstwa Śląskiego nr <span class="numbers">793</span> oraz otrzy&shy;mał Stat&shy;uetkę Żubra
            Pszczyńskiego nr&nbsp;<span class="numbers">0038</span>.</p>
          <p>Jachtk&shy;lub <span class="caps">PTTK</span> Pszczyna do roku <span class="numbers">2010</span> prowadził
            swoją dzi&shy;ałal&shy;ność na zalewie w Łące, jezio&shy;rach mazurs&shy;kich oraz akwe&shy;nach
            mors&shy;kich (Bał&shy;tyk, Morze Północne, Adri&shy;atyk). W&nbsp;sierp&shy;niu <span
              class="numbers">2010</span> roku nastąpiło długo oczeki&shy;wane otwar&shy;cie Jeziora
            Gocza&shy;łkow&shy;ick&shy;iego do żeglugi. Jachty klubowe mogły naresz&shy;cie powró&shy;cić na wody tego
            wspani&shy;ałego jeziora.</p>
          <p>Po grudniowych (2016) wyborach zaktualizowany zarząd.</p>
          <p><small><em>Opra&shy;cow&shy;anie <span class="numbers">2010</span> r&thinsp;–&thinsp;Hen&shy;ryk Motyka
                (skrót i&nbsp;aktu&shy;al&shy;iza&shy;cja <span class="numbers">2012</span>&nbsp;BiBi)</em></small></p>
        </div><!-- .entry-content -->
      </article><!-- #post-## -->



    </main><!-- #main -->
  </div><!-- #primary -->


</div>
