<app-topbar></app-topbar>
<app-logo></app-logo>
<header class="container">
  <nav class="navbar navbar-light navbar-expand-lg bg-nav-main-header p-0">
    <button class="navbar-toggler mx-auto text-uppercase"
          (click)="isShown = !isShown"
					type="button"
					data-toggle="collapse"
					data-target="#mainmenu"
					aria-controls="mainmenu"
					aria-expanded="false"
					aria-label="Przełącznik nawigacji">Menu
			</button>
    <div class="collapse navbar-collapse" id="mainmenu" [ngClass]="{ 'show': isShown }">
      <ul class="navbar-nav mx-auto text-uppercase">
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/strona-glowna" class="nav-link pl-0"> Strona Główna </a></li>
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/o-nas" class="nav-link"> O nas </a></li>
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/port" class="nav-link"> Port </a></li>
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/2" class="nav-link"> Kursy </a></li>
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/3" class="nav-link"> Członkostwo </a></li>
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/4" class="nav-link"> Polityka cookies </a></li>
        <li class="nav-item" routerLinkActive="active"><a href="#" routerLink="/5" class="nav-link"> Kontakt </a></li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated"><a href="#" routerLink="/auth" class="nav-link"> Logowanie </a></li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated" ><a href="#" routerLink="/edytor" class="nav-link"> Edytor </a></li>
      </ul>
      <ul class="navbar-nav mx-auto text-uppercase">
          <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated"><a href="#" routerLink="/strona-glowna" class="nav-link" >Logout</a></li>
      </ul>
    </div>
  </nav>
</header>


<!-- <div class="container">
  <nav id="site-navigation" class="main-navigation col-md-12" role="navigation">
      <h1 class="menu-toggle">Menu</h1>
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

      <div class="menu-main-container"><ul id="menu-main" class="menu nav-menu"><li id="menu-item-3828" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3828"><a href="http://jachtklub-pszczyna.pl/" aria-current="page">Strona główna</a></li>
<li id="menu-item-3829" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3829"></li><a href="https://jachtklub-pszczyna.pl/o-nas/">O nas</a></li>
<li id="menu-item-3830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3830"><a href="https://jachtklub-pszczyna.pl/port/">Port</a></li>
<li id="menu-item-3832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3832"><a href="https://jachtklub-pszczyna.pl/kursy/">Kursy</a></li>
<li id="menu-item-3834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3834"><a href="https://jachtklub-pszczyna.pl/czlonkostwo/">Członkostwo</a></li>
<li id="menu-item-3835" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3835"><a href="https://jachtklub-pszczyna.pl/cookie-policy/">Polityka cookies</a></li>
<li id="menu-item-3836" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3836"><a href="https://jachtklub-pszczyna.pl/kontakt/">Kontakt</a></li>
<li id="menu-item-3837" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3837"><a href="http://jachtklub-pszczyna.pl/lms/userpanel">Logowanie</a></li>
</ul></div>        </nav>
</div> -->
