<div id="top-bar">
  <div class="container">
    <div class="row ">
      <div class="col-sm-6 mt-2">
        <form class="row search-form" [formGroup]="searchform">
          <div class="search search-form-top">
            <label>
              <span class="screen-reader-text">Wyszukaj w:</span>
              <input type="text" class="search-field" placeholder="Wyszukaj...." value="" name="s">
            </label>
          </div>
        </form>
      </div>
      <div id="social-icons" class="col-sm-6 mt-2">
        <a id="facebook" href="https://pl-pl.facebook.com/Jachtklub.PTTK.Pszczyna" class="float-sm-right"></a>
      </div>
    </div>
  </div>
</div>
