<div id="top-bar">
  <div class="container">
    <div class="row mt-2">
      <div class="col-sm-6">
        <form role="search" method="get" class="row search-form" action="https://jachtklub-pszczyna.pl/">
          <div class="search search-form-top">
            <label>
              <span class="screen-reader-text">Wyszukaj w:</span>
              <input type="text" class="search-field" placeholder="Wyszukaj...." value="" name="s">
            </label>
          </div>
        </form>
      </div>

      <div id="social-icons" class="col-sm-6">
        <a id="facebook" href="https://pl-pl.facebook.com/Jachtklub.PTTK.Pszczyna" class="float-sm-right"></a>
      </div>
    </div>
  </div>
</div>


