<div class="col-sm-12" *ngIf="total && !isFetching; else emptyViewsLayouts">
  <!-- <div class="col-sm-12"> -->
  <div class="col-sm-8" >
    <div>
      <h1 class="home-title">{{ config.title }}</h1>
    </div>
    <ng-container *ngIf="total &&  !isFetching; else emptyViewsLayouts" >
      <div class="editorViewLayout" *ngFor="let article of asyncArticles
        | async
        | paginate: { id: config.id, itemsPerPage: config.itemsPerPage, currentPage: p, totalItems: total }
        ">
        <!-- <app-editor-view-layout [contentView]="article.articleLayout" [id]="article.id"></app-editor-view-layout> -->
        <app-editor-view-layout [article]="article" ></app-editor-view-layout>
      </div>
    </ng-container>
  </div>

<div class="text-center">
    <pagination-controls
      (pageChange)="getPage($event)"
      id="articles"
      previousLabel="Poprzedna"
      nextLabel="Następna"
    ></pagination-controls>
</div>

</div>
<ng-template #emptyViewsLayouts>
    <div class="col-sm-12 mt-5 text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
</ng-template>
