<div class="container">
    <div class="row pt-5 hm-100">
      <div class="col-sm-12">
        <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <div class="mb-5">
               <app-editor-layout #appEditorLayout></app-editor-layout>
              </div>
              <hr>
              <div>
                <app-editor-page #appEditorPage></app-editor-page>
              </div>
        </div>

        <button
           [disabled]="!editorForm.valid"
        class="btn btn-primary mb-5 mt-3"
        >Podgląd</button>
      </form>
    </div>
  </div>
</div>
