<div class="container">
  <div class="row pt-5 hm-100">
    <div class="col-sm-12 bg-light">
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="text-center">
            <label class="mt-2" for="editor">
              <h3>Edytor</h3>
            </label>
          </div>
          <quill-editor
            [modules]="customOptionsModule"
            formControlName="editor"
            [styles]="editorStyle"
            (onContentChanged)="onContentChanged($event)"
            (onEditorCreated)="onEditorCreated($event)"
            (onSelectionChanged)="onSelectionChanged($event)"
            (onEditorChanged)="onEditorChanged($event)"
            [sanitize]="true"
            format="object"
            ></quill-editor>
            <!-- <span *ngIf="editorForm.get('editor').value != null">{{ editorForm.get('editor').value.length }}</span> -->
            <div id="counter">0</div>
        </div>

        <button
           [disabled]="!editorForm.valid"
        class="btn btn-primary mt-5"
        >Submit</button>
      </form>
    </div>
  </div>
  <div class="col-sm-12 border border-dark mt-5">
      <div class="row bg-light"><h3 class="mx-auto p-2">Podgląd</h3></div>
      <div class="view-page mt-5">
        <quill-view [content]="content" format="object" theme="bubble"  ></quill-view>
       </div>
    </div>
</div>
