.ql-formats button .ql-omega::after {
  content: "<sb/>"!important;

}


.ql-spanblock:after {
  content: "<sb/>"!important;
}

.spanblock {
    background-color: #F8F8F8!important;
    border: 1px solid #CCC!important;
    line-height: 19px!important;
    padding: 6px 10px!important;
    border-radius: 3px!important;
    margin: 15px 0!important;
}
