<div class="main-page">
  <app-show-case></app-show-case>
  <div class="col-sm-8" >
    <div>
      <h1 id="home-title">Najnowsze Artykuły</h1>
    </div>
    <ng-container *ngIf="articles.length; else emptyViewsLayouts" >
      <!-- <div class="editorViewLayout" *ngFor="let contentView of layoutsViews | reverse; let i = index"> -->
      <div class="editorViewLayout" *ngFor="let article of articles | reverse; let i = index">
        <app-editor-view-layout [contentView]="article.articleLayout.content" [article]="article"></app-editor-view-layout>
      </div>
    </ng-container>
    <ng-template #emptyViewsLayouts>
      <h1>Brak artykułów</h1>
    </ng-template>
  </div>
</div>
