.main-page
{
  font-family: 'Michroma', Arial, sans-serif;
  color: #AD4F18!important;
}

.editorViewLayout
{

}

#home-title{
color: #AD4F18!important;
margin-top: 10px;
font-size: 22px;
margin-bottom: 30px;
margin-left: -15px;
padding-bottom: 10px;
border-bottom: dotted 2px #AD4F18;
}
