.ql-editor h2
{
  color: #AD4F18;
  text-align: left;
}

.editorViewLayout .ngx-quill-view .ql-editor img
{
  max-width: 240px !important;
  max-height: 165px !important;
  float: left;
}

// .ql-toolbar .ql-snow
// {
//   max-width: 240px !important;
// }

.test {
  background-color: #FF0000;
}

a span img:hover
{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

a span img
 {
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
   transition: 0.4s all ease;
}

// .editorViewLayout .ngx-quill-view .ql-editor
// {
//   overflow: hidden;
// }
