a
{
  color: #c14a04 !important;

}

a:active
{
  text-decoration: none;
}

h1
{
  transition: 0.4s all ease;
  font-size: 3.5rem;
  padding-left: 0;
  margin-left: 0 !important;
}


h1:hover
{
  -webkit-transform:  rotate(-1deg);
	-ms-transform:  rotate(-1deg);
	transform:  rotate(-1deg);
}

#logo
{
  border-bottom: solid 2px #AD4F18;
}


@media (max-width: 768px)
{
  h1
  {
    font-size: 2rem;
    text-align: center!important;
  }
}
