<div class="mainsliders mb-5">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_01.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_02.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_03.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_04.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_05.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_06.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_07.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/images/main_slideshow/slideshow_08.jpg" alt="First slide">
        </mdb-carousel-item>
      </mdb-carousel>
</div>
