<div class="container">
  <div class="row pt-5">
    <div class="col-sm-8 bg-light">
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="editor">
            <h3>Editor</h3>
          </label>
          <quill-editor
            maxLength=10
            [modules]="options"
            formControlName="editor"
            [styles]="editorStyle"
            (onContentChanged)="maxLenght($event)"
            ></quill-editor>
            <span *ngIf="editorForm.get('editor').value != null">{{ editorForm.get('editor').value.length }}</span>
        </div>

        <button
           [disabled]="!editorForm.valid"
        class="btn btn-primary mt-5"
        >Submit</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Wynik</h3>
      <quill-view [content]="content" format="object" theme="bubble" ></quill-view>

    </div>
  </div>
</div>
