<div class="col-md-12">
  <article>
    <div class="">
      <div class="header h4 px-0 ml-3 col-md-4 d-inline-block">
        <header>
          <p *ngIf="!isEditable">{{ title }}</p><input type="text" [(ngModel)]="title" class="form-control" *ngIf="isEditable">
        </header>
      </div>
      <div class="col-md-7 px-0 d-inline-block" *ngIf="isAuthUser">
        
        <button class="btn btn-primary mx-2 float-right" (click)="onEdit()">
          Edytuj <i class="far pl-2 fa-edit" *ngIf="isEditable"></i></button>        
        <button class="btn btn-primary mx-2 float-right" (click)="onSave()" [disabled]="isEditable"> Zapisz</button>
      </div>
    </div>
    <div id="editor" class="content">
    </div>
  </article>
</div>