// html {
//   position: relative;
//   min-height: 100%;
// }

/* Margin bottom by footer height */
// body {
//   margin-bottom: 50px;
// }

.app-main{
  // font-family: "Noto Sans", sans-serif;;
  // font-size: 14px;
  // -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.span-block {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
}


.ql-spanblock::after {
  content: "<sb/>";
}

.spanblock {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    line-height: 19px;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 15px 0;
}


.spanblock {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  line-height: 19px;
  padding: 6px 10px;
  max-width: 50px;
  float: right;
  border-radius: 3px;
  margin: 15px 0;
  position:absolute;
  bottom:0;
  right:0;
}

p.pttk-editor-layout a
{
  text-decoration: none!important;
  color: #AD4F18!important;
}

p.pttk-editor-layout a:visited
{
  color: #AD4F18!important;
}

p.pttk-editor-layout a:hover
{
  text-decoration: underline!important;
  color: #8D4F18!important;
}

.home-title{
  color: #AD4F18!important;
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 30px;
  margin-left: -15px;
  padding-bottom: 10px;
  border-bottom: dotted 2px #AD4F18;
  }
