.span-block {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  line-height: 19px;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
}


.ql-spanblock::after {
  content: "<sb/>";
}

.spanblock {
    background-color: #F8F8F8;
    border: 1px solid #CCC;
    line-height: 19px;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 15px 0;
}


.spanblock {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  line-height: 19px;
  padding: 6px 10px;
  max-width: 50px;
  float: right;
  border-radius: 3px;
  margin: 15px 0;
  position:absolute;
  bottom:0;
  right:0;
}

p.pttk-editor-layout a
{
  text-decoration: none!important;
  color: red!important;
}

p.pttk-editor-layout a:visited
{
  color: #AD4F18!important;
}

p.pttk-editor-layout a:hover
{
  text-decoration: underline!important;
  color: #8D4F18!important;
}

